@use '../utils/variables';
.footer{
    background-color: rgba(0,0,0,0.1);
    font-size: 1.2em;
    font-weight: bold;

    &__parrafo{
        text-align: center;
        margin-top: 10px;
        margin: 10px;
    }
    
    &__parrafo--secondary{
        color: variables.$secondary-color;
        background-color: rgba(255, 255, 255, 0.932);
        text-align: center;
        border-radius: 10px;
    }
    
    &__lista{
        border-top: variables.$gray-border-top;
        padding-top: 1%;
        padding-left: 0px;
        display:flex;
        justify-content: space-around;
        list-style-type: none;
        
    }
    
    &__link{
        text-decoration: none;
        color: variables.$secondary-color;
        background-color: rgba(255, 255, 255, 0.932);
        padding: 5px;
        border-radius: 10px;
    }
}

@media screen and (min-width:768px){

    .footer{
        &__parrafo{
            flex-grow: 3;
            padding-left: 1%;
        }
        &__lista{
            border-top: none;
            flex-direction: row;
            flex-grow: 1;
        }
    }
}
